.Header{
    text-align: center;
    font-size: 30px;
    /* text-decoration: underline; */
    color:#008DF5
}
img.foodtruck{
    border: 2px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
.table-container{
    display: flex;
    justify-content: center;
}
td.head{
    color:white;
    display: inline;
    background-color: rgba(255, 1, 255, 0.355);
    padding: 5px;
    margin: 2.5px;
    border: 10px;
    border-radius: 7.5px;
    text-align: center;
}

#searchBar{
    background-color: #008DF5;
    padding: 0;
    margin: 0;
}